<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- ══════════════════════════════════════════════════
       SQL SERVER CONNECTION
  ═══════════════════════════════════════════════════ -->
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=192.168.151.28; Initial Catalog=DataV2; uid=datalake; Password=lQn@t-rm#W*NG7; Connection Timeout=3600" providerName="System.Data.SqlClient" />
	</connectionStrings>

  <!-- ══════════════════════════════════════════════════
       SAP RFC CONNECTION
       (match values from your SM59 RFC destination)
  ═══════════════════════════════════════════════════ -->
  <appSettings>

    <!-- SAP connection -->
    <!--<add key="SAP_Name"          value="V2RETAIL_PRD" />       --><!-- SM59 destination name --><!--
    <add key="SAP_AppServerHost" value="192.168.144.174" />     --><!-- SAP app server IP --><!--
    <add key="SAP_Client"        value="210" />                 --><!-- SAP client / mandant --><!--
    <add key="SAP_User"          value="POWERBI" />             --><!-- SAP RFC user --><!--
    <add key="SAP_Password"      value="India@123456" />        --><!-- SAP RFC password --><!--
    <add key="SAP_SystemNumber"  value="00" />                  --><!-- System number --><!--
    <add key="SAP_Language"      value="EN" />-->
	  
	  <add key="SAP_Name"          value="V2RETAIL_PRD" />
	  <!-- SM59 destination name -->
	  <add key="SAP_AppServerHost" value="192.168.144.170" />
	  <!-- SAP app server IP -->
	  <add key="SAP_Client"        value="600" />
	  <!-- SAP client / mandant -->
	  <add key="SAP_User"          value="POWERBI" />
	  <!-- SAP RFC user -->
	  <add key="SAP_Password"      value="India@123456" />
	  <!-- SAP RFC password -->
	  <add key="SAP_SystemNumber"  value="02" />
	  <!-- System number -->
	  <add key="SAP_Language"      value="EN" />

    <!-- RFC pipeline settings -->
    <add key="COMPANY_CODE"      value="1100" />                <!-- Default company code -->

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

</configuration>
